// demi
@font-face {
    font-family: "CircularStd";
    src: url("../../assets/fonts/CircularStd-Black.otf") format("opentype");
    font-weight: 600;
}
/* demi-italic */
@font-face {
    font-family: "CircularStd";
    src: url("../../assets/fonts/CircularStd-BlackItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
//Bold
font-face {
    font-family: "CircularStd";
    src: url("../../assets/fonts/CircularStd-Bold.otf") format("opentype");
    font-weight: 700;
}
//Bold-italic
font-face {
    font-family: "CircularStd";
    src: url("../../assets/fonts/CircularStd-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
//normal
font-face {
    font-family: "CircularStd";
    src: url("../../assets/fonts/CircularStd-Book.otf") format("opentype");
    font-weight: 400;
}
//normal-italic
font-face {
    font-family: "CircularStd";
    src: url("../../assets/fonts/CircularStd-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}