h1 {
    font-size: 30px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.offCourt {
    padding: 3rem;
    display: flex;
    justify-content: center;

    &__body {
        width: 1280px;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    &__left {
        width: 25%
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        height: 840px
    }

    &__personal {
        &-title {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: .75rem;
            line-height: 38px;

        }

        &-list {
            list-style: none;
            padding-left: 0;
        }

        &-item {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #F96220;

            &-first {
                border-top: 1px solid #F96220;

            }
        }

        &-item-left {
            font-family: "CircularStd";
            width: 50%;
            font-size: 15px;
            margin-top: .5rem;
            margin-bottom: .5rem;
            font-weight: 700;
        }

        &-item-right {
            width: 50%;
            font-size: 15px;
            margin-top: .5rem;
            margin-bottom: .5rem
        }
    }

    &__charities {
        display: flex;
        flex-direction: column;
    }

    &__charities-title {
        margin: 0;
    }

    &__charities-images {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    &__charities-item {
        width: 50%
    }
}