.heroimage{

  padding: 0 7.5rem;
  background: linear-gradient(180deg, rgba(223, 223, 223, 0.58) 0%, rgba(223, 223, 223, 0) 30.73%);
  box-shadow: 0px 4px 31px 4px rgba(0, 0, 0, 0.25);

  &__linkicons{
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    width: 25px;
    height: 25px;
    margin-left: 1.3125rem;
    padding: 0;
  }
  &__mainsection{
    width: 100%;
    margin: 0 2.125rem;
    display: flex;
    justify-content: space-between;
  }
  &__description{
    width: 15%;
  }
  &__intro{
    display: flex;
    flex-direction: column;
  }
  &__number{
    font-size: 7.5rem;
    color: #F96220;
    margin: 44px 0 33px 0;
  }
  &__name{
    font-size: 2.6875rem;
    font-weight: 500;
    margin: 0;
  }
  &__secondname{
    font-weight: 700;
    color: #F96220;
  }
  &__title{
    margin: 0;
  }
  &__team{
    display: flex;
    align-items: center;
    margin: 3.375rem 0;
  }
  &__medal{
    position: relative;
    right: 6.25rem;
    display: flex;
    align-items: center;
  }
  &__medal1{
    width: 5.125rem;
    height: 5rem;
  }
  &__player{
    width: 70%;
    display: flex;
    align-items: flex-end;
  }
  &__heroimage{
    width: 100%;
  }
}