.heroimage{

  padding: 0 7.5rem;
  background: linear-gradient(180deg, rgba(223, 223, 223, 0.58) 0%, rgba(223, 223, 223, 0) 30.73%);
  box-shadow: 0px 4px 31px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/images/player-image.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__linkicons{
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__link {
    width: 25px;
    height: 25px;
    margin-left: 1.3125rem;
    padding: 0;
  }

  &__bell {
    margin-top: 1rem;
    width: 127px;
    height: 40px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    border: none;
  }

  &__medal {
    margin-top: 200px;
  }

  &__bell-image {
    width: 16px;
    height: 20px;
    margin: 0 1rem;
  }

  &__description{
    width: 15%;
    width: 310px;
  }
  &__intro{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__number{
    font-size: 7.5rem;
    color: #F96220;
    margin: 21px 0 25px 2rem;
    align-self: flex-start;
  }
  &__name{
    font-size: 2.6875rem;
    font-weight: 500;
    margin: 0;
  }
  &__secondname{
    font-weight: 700;
    color: #F96220;
    margin-left: 1rem;
  }
  &__title{
    margin: 0;
    align-self: flex-end;
    font-weight: 600;
    line-height: 0;
  }
  &__team{
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 600;
  }

  &__medal1{
    width: 5.125rem;
    height: 5rem;

    &--featured {
      margin: 0 1rem;
    }
  }
}