@use '../../styles/partials/fonts' as *;

.videosection{
  background: linear-gradient(180deg, rgba(223, 223, 223, 0.58) 0%, rgba(223, 223, 223, 0) 30.73%);
    box-shadow: 0px 4px 31px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;

  &__wrapper {
    width: 1280px;
  }

  &__bottom{
    width: 100%;
    height: 3.5rem;
    background-color: #F96220;
  }
  &__title{
    font-size: 1.875rem;
    margin: 0;
  }
  &__paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  &__videos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
  }
  &__videoimage{
    margin-right: 1.25rem;
    width: 388px;
    height: auto;

    &--right {
      @extend .videosection__videoimage;
      margin: 0;
    }
  }
  &__linksection{
    display: flex;
    justify-content: flex-end;
  }
  &__link{
    font-size: 1rem;
    color: #F96220;
    margin-bottom: 4.25rem;
  }
}