.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: black;

    &__logo {
        width: 6rem;
        height: 3.5rem;
        background-image: url('../../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
        margin: 0 1rem;
    }

    &__left {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }

    &__nav-container {
        display: flex;
        align-items: center;
    }

    &__nav-title {
        color: white;
        font-size: 16px;
        font-weight: 700;
        padding: 1rem;
    }

    &__right {
        width: 20%;
        height: 3.5rem;
        background-image: url('../../assets/images/right-div.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
}